/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select{margin:0}html{box-sizing:border-box}*,*::before,*::after{box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

*, *:after, *:before { box-sizing: border-box; }

body, html {
	font-family: sans-serif;
	font-weight: 300;
	font-size: 16px;
	min-height: 100vh;
	padding: 0;
	margin: 0;
}
.centred, .centred body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100vw;
}
.centred h1 { text-align:center; }
.centred p { text-align: justify; }
.holder { position: relative; width: 1200px; max-width: 100%; margin: auto; }
.padded { padding: 1em; }
.block { display: block; }
.padded-vertical { padding: 1em 0; }
.doublepadded { padding: 2em; }
.tallpadded { padding-top: 5em; padding-bottom: 5em; }
.clear { clear: both; }
p:first-child, h2:first-child, h3:first-child { margin-top: 0; }
strong { font-weight: bold; }
select, input { line-height: 2em; height: 2em; font-size: 1em; }
textarea { font-size: 1em; line-height: 1.5em; border: solid 1px #ccc; margin-bottom: 0.25em; }

.grid {
	display: grid;
	grid-template-columns: repeat(2,1fr);
	grid-gap: 1em;
	margin: 0;
	padding: 0;
}
ol.grid > li {
	list-style: none;
}
.grid > li.fullwidth{
	grid-column: 1 / span 2;	
}
.grid > li > a {
	display: flex;
	align-items: center;
	text-decoration: none;
	border-radius: 0.5em;
	height: 100%;
}
.grid > * > a > h2 { font-size: 1.2em; font-weight: bold; margin: 0 auto; text-align:center; }

.page { margin-bottom: 2em; }
.page section { background: #edeff0; margin: 2em auto 2em auto; }
.page .grid, .page footer { display: grid; grid-template-columns: repeat(2,1fr); grid-gap: 1em; margin: 0; padding: 0; }
.page .grid { min-height: 300px; margin-bottom: 1em; }
.page .grid > * { text-align: center; }
.page footer .output { text-align: left; }
.page .nav-right { text-align: right; }
.page .nav-inner { display: inline-block; }
.page .nav-flex { display:flex;grid-gap:0.25em; }
.page .prop { font-weight: 600; }
.page .value { font-style: italic; }
.page iframe, .page .widescreen { border: 0px; width: 100%; aspect-ratio: 16 / 9; position: relative; }
a[disabled] { cursor: not-allowed; filter: grayscale(100); opacity: 0.7; background: #dfdfdf; color: black; }

/* Breadcrumb */
.breadcrumb { margin: 0; }
.breadcrumb > * { position: relative; padding-bottom: 1em; padding: 1em 1em 2em 1em; text-align: center; }
.breadcrumb > *:after { content: ''; position: absolute; left: 50%; top: calc(100% - 1em); transform: translate3d(0%,-50%,0); width: 100%; background: #edeff0; height: 0.25em; z-index: 1; }
.breadcrumb > *:last-child:after { display: none; }
.breadcrumb > * > * { color: inherit; text-decoration: none; }
.breadcrumb > * > *:after { content: ''; position: absolute; left: 50%; top: calc(100% - 1em); transform: translate3d(-50%,-50%,0); width: 1em; height: 1em; border-radius: 100%; background: #edeff0; z-index: 2; }
.breadcrumb > *.visited:after, .breadcrumb > *.visited > *:after, .breadcrumb > * > *[aria-current]:after { background: black; }

#event-notification textarea { width: 100%; height: 20em; font-family: monospace; }

button[disabled] { background: #dfdfdf; color: black; cursor: not-allowed; }
button[disabled]:hover, button[disabled]:focus { background: #dfdfdf; color: black; cursor: not-allowed; }

/* Colours */
.gw { background: #d6aedd; color: black; }
.gw-highlight, .gw-breadcrumb > *.visited:after, .gw-breadcrumb > *.visited > *:after, .gw-breadcrumb > * > *[aria-current]:after { background: #9510ac; color: white; }
.gw-highlight:hover, .gw-highlight:focus { background: #DC65F1; color:black; }

.ga { background: #b7d8f1; color: black; }
.ga-highlight, .ga-breadcrumb > *.visited:after, .ga-breadcrumb > *.visited > *:after, .ga-breadcrumb > * > *[aria-current]:after { background: #2d9bf0; color: black; }
.ga-highlight:hover, .ga-highlight:focus { background: #4FACF3; }

.xr { background: #f4e5ae; color: black; }
.xr-highlight, .xr-breadcrumb > *.visited:after, .xr-breadcrumb > *.visited > *:after, .xr-breadcrumb > * > *[aria-current]:after { background: #fac710; color: black; }
.xr-highlight:hover, .xr-highlight:focus { background: #FCDD6E; }

.op { background: #d4e8c1; color: black; }
.op-highlight, .op-breadcrumb > *.visited:after, .op-breadcrumb > *.visited > *:after, .op-breadcrumb > * > *[aria-current]:after { background: #8fd14f; color: black; }
.op-highlight:hover, .op-highlight:focus { background: #A3D96D; }


.cc { background: #FFD1B3; color: black; }
.cc-highlight { background: #FF6700; color: black; }
.cc-highlight:hover, .cc-highlight:focus { background: #FF781F; }

.b1-bg { background-color: #000000; color: white!important; }
.b2-bg { background-color: #333333; color: white!important; }
.b3-bg { background-color: #999999; color: black!important; }
.b4-bg { background-color: #bbbbbb; color: black!important; }
.b5-bg { background-color: #dfdfdf; color: black!important; }
.b6-bg { background-color: #ffffff; color: black!important; }


/* Login page */
.login {
	width: 640px;
	max-width: calc(100% - 2em);
}
.login__content {
	padding: 1.5em;
	background: #fff;
	-webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,0.1);
	box-shadow: 0 2px 3px 0 rgba(0,0,0,0.1);
	border-radius: 0.25em;
	margin-top: 1em;
}
.login h2 {
	font-size: 1.25em;
	margin: 0 0 1em;
	line-height: 1em;
	text-align: center;
}
.login__alert {
	display: none;
	border-bottom: 1px solid transparent;
	border-radius: 3px 3px 0 0;
	padding: 12px 14px;
	color: #D8000C;
	background-color: #FFBABA;
	text-align: center;
}
.login__content__input {
	display: block;
	border: solid 1px #ccc;
	padding: 0.5em 0.5em;
	font-size: 1em;
	width: 100%;
	border-radius: 0.25em;
	margin: 0.25em 0 0.75em 0;
}
.button, .login__content__btn {
	border-radius: 0.25em;
	cursor: pointer;
	border: none;
	padding: 0.75em 1em;
	font-weight: 500;
	font-size: 1em;
	text-decoration: none;
	display: inline-block;
}
.login__content__btn {
	width: 100%;
}

.language-picker { line-height: 2em; }
.language-picker:hover, .language-picker:focus { background: #dfdfdf; outline: 2px solid #c89600; }
.language-picker__form { display: block; grid-template-columns: auto auto; grid-gap: 0.25em; position: relative; height: 100%; }
.language-picker select { display: inline-block; height: 100%; font: inherit; color: inherit; background: transparent; border: 0; cursor:inherit; }
.language-picker label svg { position: absolute; left: 0.5em; top: 50%; transform: translate3d(0,-50%,0); height: 1.5em; width: 1.5em; }
.language-picker select { padding-left: 2em; }
.language-picker select option { color: inherit; }


@media only screen and (max-width: 800px) {
	.grid { grid-template-columns: 100%; }
	 .grid > li.fullwidth {
		grid-column: 1 / span 1;	
	}
	.doublepadded { padding: 1em; }
	.page iframe { aspect-ratio: 1 / 1; }
}